/* Common Style */
body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-button button {
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


/* header style start */

.header-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
}

.brand-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.gamer {
    font-size: 45px;
    font-weight: 700;
}

.gamer span {
    color: #FF42A5;
}

.menu-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-content {
    list-style: none;
    display: flex;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.menu-content li {
    margin-right: 30px;
}

.follow-us-content {
    display: flex;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 20px;
    gap: 25px;
}

.follow-us-content p {
    font-size: 18px;
    font-weight: 500;
}

.follow-us-icon-container {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.youtube {
    color: red;
}

/* header style end */

/* <!-- Play Like The GOAT section start --> */
.banner-container {
    display: flex;
    align-items: center;
}

.banner-play-container {
    width: 50%;
    height: 100%;
    margin-right: 10px;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.play-container {
    padding: 148px 200px;
}

.play-like {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
}

.play-title {
    font-size: 98px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 25px;
}

.instant-play,
.download {
    display: flex;
    align-items: center;
    margin-right: 100px;
    gap: 12px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.download {
    margin-top: 17px;
    margin-bottom: 17px;
}

.supported {
    display: flex;
    align-items: center;
    gap: 07px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.instant-play span {
    color: #FF42A5;
}

.download span {
    color: #FF42A5;
}

.sign-in {
    background-color: #FF42A5;
    margin-right: 20px;
}

.go-rogue {
    background-color: #4EC5F7;
}

/* <!-- Play Like The GOAT section end --> */

/* <!-- We are gamer section start --> */
.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamer-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto 120px;
}

.gamer-img {
    width: 50%;
}

.gamer-content {
    width: 50%;
}

.gamer-content {
    text-align: right;
}

.gamer-img img {
    width: 100%;
    height: 100%;
}

.gamer-content h3 {
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.gamer-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.know-more {
    background-color: #F948B2;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;

}

.our-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
}

#unleash {
    font-size: 32px;
    font-weight: 700;
}

/* <!-- We are gamer section end --> */

/* <!-- Online games funny videos section start --> */
.onlinegames-container {
    max-width: 1440px;
    margin: 0 auto;
}

.onlinegames-container h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: center;
}

.onlinegames-container span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.onlinegames-container>p {
    color: #534C64;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 45px;

}

.onlinegames-photos {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 05px;
}

.game-group .btn {
    max-width: 100%;
    position: absolute;
    border-radius: 50%;
    border: none;
    top: 30%;
    left: 63%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    background: none;
    opacity: 0.5;
}

.game-group .btn:hover {
    opacity: 1.0;
    color: #F948B2;
}

.game-group .watch-now {
    max-width: 100%;
    position: absolute;
    top: 30%;
    left: 63%;
    transform: translate(-50%, 50%);
    font-size: 42px;
    font-weight: 600;
    color: #FF42A5;
    cursor: pointer;
    background: none;
}

.game-group img {
    width: 342px;
}

#game-group-03 {
    opacity: 0.5;
}

#game-group-03:hover {
    opacity: 1.0;
}

.game-group-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    width: 342px;
    text-align: left;
    margin-top: 25px;
}

/* <!-- Online games funny videos section end --> */

/* <!--  Play Instantly Section start--> */
.play-instantly-container {
    max-width: 1440px;
    margin: 100px auto 100px;
    display: flex;
    align-items: center;
}

.play-instantly-content {
    width: 50%;
    text-align: right;
    margin-right: 250px;
}

.play-instantly-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 10%, #8758F1 90%);
    color: transparent;
    -webkit-background-clip: text;
}

.play-instantly-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instantly-image-content {
    width: 50%;
}

.instantly-image-content img {
    width: auto;
    position: relative;

}

.instantly-image-content .cat-doll-img {
    width: auto;
    margin-top: -250px;
    margin-left: -150px;
    position: relative;
}

/* <!--  Play Instantly Section end--> */

/* <!-- Games section start --> */
.games-group {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    min-height: 50px;
    padding: 100px 0 100px 0;
}

.games-group-container {
    border:  rgba(221, 61, 33, 0.534);
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.games-group-content-01 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.common-style {
    background-image:linear-gradient(90deg, #ff8c00d7 30%, #dc143caf 80%);
    width: 290px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 50px;
    padding: 10px 0 10px 10px;
}
.common-style:hover{
    border:05px solid #0B0223;
}

.common-style img {
    width: 60px;
    height: 60px;
}

.common-style p {
    color: #0B0223;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
}
/* <!-- Games section end --> */

/* footer section start */
footer{
    background-color:#0B0223 ;
    min-height: 50px;
}
.footer-container{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 100px 0 0;
}
#amer{
    color: #fff;
}
.footer-function-content{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-function-content> ul{
    display:flex;
    justify-content: center;
    gap: 50px;
}
.footer-function-content li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}
.footer-web-content{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
.footer-web-content> ul{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.footer-web-content li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}
.footer-policy-content{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer-policy-content{
    color:rgba(255, 255, 255, 0.60) ;
    font-size: 16px;
    font-weight: 500;
}
.copyright{
    margin-top: 20px;
    padding:  0 0 100px;
}
.copyright P{
    color:rgba(255, 255, 255, 0.60) ;
    font-size: 16px;
    font-weight: 500;
}

/* footer section end */