/* Common Style */
body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-button button {
    padding: 21px 40px;
    border-radius: 48px;
    color: #FFF;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
}

/* header style start */

.header-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
}

.brand-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.gamer {
    font-size: 45px;
    font-weight: 700;
}

.gamer span {
    color: #FF42A5;
}

.menu-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-content {
    list-style: none;
    display: flex;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.menu-content li {
    margin-right: 30px;
}

.follow-us-content {
    display: flex;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 20px;
    gap: 25px;
}

.follow-us-content p {
    font-size: 18px;
    font-weight: 500;
}

.follow-us-icon-container {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.youtube {
    color: red;
}

/* header style end */

/* <!-- Play Like The GOAT section start --> */
.banner-container {
    display: flex;
    align-items: center;

}

.banner-play-container {
    width: 50%;
    height: 100%;
    margin-right: 10px;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.play-container {
    padding: 148px 200px;
}

.play-like {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
}

.play-title {
    font-size: 98px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 25px;
}

.instant-play,
.download {
    display: flex;
    align-items: center;
    margin-right: 100px;
    gap: 12px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.download {
    margin-top: 17px;
    margin-bottom: 17px;
}

.supported {
    display: flex;
    align-items: center;
    gap: 07px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.instant-play span {
    color: #FF42A5;
}

.download span {
    color: #FF42A5;
}



.sign-in {
    background-color: #FF42A5;
    margin-right: 20px;
}

.go-rogue {
    background-color: #4EC5F7;
}