/* for mobile device */
@media screen and (max-width:425px) {

    /* header style start */
    .header-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .brand-container {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .brand-container,
    .menu-container {
        width: auto;
    }

    .menu-container,
    .menu-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-content {
        text-align: center;
        align-items: center;
    }

    .menu-content li {
        margin-right: 0px;
    }

    .developers {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    /* header style end */

    /* Play Like The GOAT section start */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-play-container {
        width: auto;
        background-position: 100%;
        background-size: cover;
    }

    .banner-container img {
        width: 80%;
        margin-bottom: 05px;
    }

    .play-container {
        padding: 30px;
        margin-right: 0;
    }

    .play-like {
        font-size: 16px;
    }

    .play-title {
        font-size: 32px;
    }

    .instant-play,
    .download,
    .supported {
        font-size: 14px;
    }

    .primary-button button {
        padding: 10px;
        border-radius: 48px;
        font-size: 12px;
    }

    .sign-in {
        margin-right: 20px;
    }
}