/* for mobile device */
@media screen and (max-width:425px) {

    /* header style start */
    .header-container {
        flex-direction: column;
    }

    .brand-container {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .brand-container,
    .menu-container {
        width: auto;
    }

    .menu-container,
    .menu-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-content {
        text-align: center;
        align-items: center;
    }

    .menu-content li {
        margin-right: 0px;
    }

    .developers {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    /* header style end */

    /* Play Like The GOAT section start */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-play-container {
        width: auto;
        background-position: 100%;
        background-size: cover;
    }

    .banner-container img {
        width: 80%;
        margin-bottom: 05px;
    }

    .play-container {
        padding: 30px;
        margin-right: 0;
    }

    .play-like {
        font-size: 16px;
    }

    .play-title {
        font-size: 32px;
    }

    .instant-play,
    .download,
    .supported {
        font-size: 14px;
    }

    .primary-button button {
        padding: 10px;
        border-radius: 48px;
        font-size: 12px;
    }

    .sign-in {
        margin-right: 20px;
    }

    /* Play Like The GOAT section end */

    /* <!-- We are gamer section start --> */
    .we-are-gamer {
        background: none;
    }

    .gamer-container {
        flex-direction: column;
        padding: 0 20px;
    }

    .gamer-content,
    .gamer-img {
        width: auto;
    }

    .gamer-content {
        text-align: center;
    }

    .gamer-content h3 {
        font-size: 30px;
    }

    .gamer-description {
        font-size: 12px;
        line-height: 20px;
    }

    .our-purpose {
        font-size: 16px;
    }

    #unleash {
        font-size: 22px;
    }

    /* <!-- We are gamer section end --> */

    /* <!-- Online games funny videos section start --> */

    .onlinegames-container h3 {
        font-size: 28px;
    }

    .onlinegames-container>p {
        font-size: 10px;
    }

    .onlinegames-photos {
        flex-direction: column;
        /* display: grid;
        grid-template-columns: repeat(1, 1fr); */
        text-align: center;
    }

    .game-group img {
        max-width: 100%;
    }
    .game-group-description {
        font-size: 10px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .game-group .btn {
        top: 80%;
        left: 53%;
        transform: translate(-50%, -50%);
    }

    .game-group .watch-now {
        top: 32%;
        left: 53%;
        transform: translate(-50%, 50%);
        font-size: 25px;
    }

    /* <!-- Online games funny videos section end --> */

    /* <!--  Play Instantly Section start--> */
    .play-instantly-container {
        flex-direction: column;
    }



}